metadata/flows/ChangeLoanOwner-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_student_as_owner</name>
        <label>Assign student as owner</label>
        <locationX>299</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>Loan_record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StudentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOwnerLoan</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ChangeLoanOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangeLoanOwner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Loan</name>
        <label>Search Loan</label>
        <locationX>297</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_student_as_owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>Loan_record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOwnerLoan</name>
        <label>UpdateOwnerLoan</label>
        <locationX>301</locationX>
        <locationY>311</locationY>
        <inputReference>Loan_record</inputReference>
    </recordUpdates>
    <startElementReference>Search_Loan</startElementReference>
    <variables>
        <name>Loan_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StudentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
